{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Staff Home
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            {% comment %} Boxes Section Starts {% endcomment %}
            
                
                <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>4871</h3>

                  <p>Total Students</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'manage_student' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>132</h3>

                  <p>Total Staffs</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>4</h3>
  
                    <p>Total Courses</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'manage_course' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>14</h3>
  
                    <p>Total Subjects</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'manage_subject' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
               
                <!-- /.row -->
          <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Percentage of success of each subject 2020/21</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <!-- aqui hay que meter las tablas -->
                  <img src="{% static 'dist/img/average_marks20.jfif' %}"style="min-height: 450px; height: 350px; max-height: 350px; max-width: 100%;">
                  <canvas id="pieChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Average final grades 2020/2021</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                    <img src="{% static 'dist/img/average_marks.jfif' %}"style="min-height: 450px; height: 350px; max-height: 350px; max-width: 100%;">
                    <canvas id="pieChart" style="min-height: 10px; height: 10px; max-height: 10px; max-width: 0%;"></canvas>                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            {% comment %} Boxes Section Ends {% endcomment %}
                </div>
            </div>

            
                <!-- /.row -->
          <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Enrolled Students 2020/2021</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <!-- aqui hay que meter las tablas -->
                  <img src="{% static 'dist/img/alum_matricu.jfif' %}"style="min-height: 450px; height: 350px; max-height: 350px; max-width: 100%;">
                  <canvas id="pieChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Enrolled Students 2019/2020</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <img src="{% static 'dist/img/alum_matricu_2019.jfif' %}"style="min-height: 450px; height: 350px; max-height: 350px; max-width: 100%;">
                  <canvas id="pieChart" style="min-height: 10px; height: 10px; max-height: 10px; max-width: 0%;"></canvas>                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            {% comment %} Boxes Section Ends {% endcomment %}
                </div>
            </div>
                
            <div class="col-lg-12">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">Number of students at the AGH</h3>
  
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <img src="{% static 'dist/img/grafica_alum.jfif' %}"style="min-height: 450px; height: 250px; max-height: 250px; max-width: 100%;">
                    <canvas id="pieChart" style="min-height: 10px; height: 10px; max-height: 10px; max-width: 0%;"></canvas>                </div>
                  <!-- /.card-body -->
                </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}
    <script>
       $(document).ready(function(){

            //Code for Stuent Attendnace by Subjects Bar Chart
            var student_list = {{ student_list|safe }};
            var attendance_present_list = {{ attendance_present_list }}
            var attendance_absent_list = {{ attendance_absent_list }}

            var areaChartData2 = {
            labels  : student_list,
            datasets: [
                {
                label               : 'Student Attendance Chart for Present',
                backgroundColor     : 'rgba(60,141,188,0.9)',
                borderColor         : 'rgba(60,141,188,0.8)',
                pointRadius          : false,
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : attendance_present_list
                },
                {
                label               : 'Student Attendance Chart for Absent',
                backgroundColor     : 'rgba(210, 214, 222, 1)',
                borderColor         : 'rgba(210, 214, 222, 1)',
                pointRadius         : false,
                pointColor          : 'rgba(210, 214, 222, 1)',
                pointStrokeColor    : '#c1c7d1',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data                : attendance_absent_list
                },
            ]
            }


            var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
            var barChartData2 = jQuery.extend(true, {}, areaChartData2)
            var temp2 = areaChartData2.datasets[0]
            barChartData2.datasets[0] = temp2

            var barChartOptions2 = {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
            }

            var barChart2 = new Chart(barChartCanvas2, {
            type: 'bar', 
            data: barChartData2,
            options: barChartOptions2
            })

       })
    </script>
  {% endblock custom_js %}